* {
  outline: none;
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Poppins Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 100%, 0.1);
}